/*== START color CSS ==*/
.clr--primary {
}
.clr--white {
  color: white;
}
/*== END color CSS ==*/

/*== START txt CSS ==*/
.txt--center {
  text-align: center;
}

.txt--capital {
  text-transform: capitalize;
}

.txt--upper {
  text-transform: uppercase;
}
/*== END txt CSS ==*/

/*== START button CSS ==*/
.btn {
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.btn--primary {
  font-family: var(--second-f-family);
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-image: var(--bg-gradient);
  background-size: 200%;
}

.btn--primary:hover {
  background-position: right center;
}

.btn-view {
  --btn-size: 47px;
  background-image: var(--bg-gradient);
  color: #fff;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  width: var(--btn-size);
  height: var(--btn-size);
  line-height: var(--btn-size);
}

/*== END button CSS ==*/

/*== START border CSS ==*/
.border--round {
  border-radius: 50%;
}
/*== END border CSS ==*/

/*== START background CSS ==*/
.bg-clr--primary {
  background-image: var(--bg-gradient);
  background-size: 200%;
}
/*== END background CSS ==*/

/* box shadow */
.shadow--light {
  box-shadow: var(--bg-white-box-shadow);
  -webkit-box-shadow: var(--bg-white-box-shadow);
  -moz-box-shadow: var(--bg-white-box-shadow);
  box-shadow: var(--bg-white-box-shadow);
}

/*== START full padding CSS ==*/
.pad--5 {
  padding: 5px;
}

.pad--10 {
  padding: 10px;
}

.pad--15 {
  padding: 15px;
}

.pad--20 {
  padding: 20px;
}

.pad--25 {
  padding: 25px;
}

.pad--30 {
  padding: 30px;
}

/*== END full padding CSS ==*/

/*== START padding top CSS ==*/
.pad-t--5 {
  padding-top: 5px;
}

.pad-t--10 {
  padding-top: 10px;
}

.pad-t--15 {
  padding-top: 15px;
}

.pad-t--20 {
  padding-top: 20px;
}

.pad-t--25 {
  padding-top: 25px;
}

.pad-t--30 {
  padding-top: 30px;
}
/*== END padding top CSS ==*/

/*== START padding bottom CSS ==*/
.pad-b--5 {
  padding-bottom: 5px;
}

.pad-b--10 {
  padding-bottom: 10px;
}

.pad-b--15 {
  padding-bottom: 15px;
}

.pad-b--20 {
  padding-bottom: 20px;
}

.pad-b--25 {
  padding-bottom: 25px;
}

.pad-b--30 {
  padding-bottom: 30px;
}
/*== END padding bottom CSS ==*/

/*== START padding right CSS ==*/
.pad-r--5 {
  padding-right: 5px;
}

.pad-r--10 {
  padding-right: 10px;
}

.pad-r--15 {
  padding-right: 15px;
}

.pad-r--20 {
  padding-right: 20px;
}

.pad-r--25 {
  padding-right: 25px;
}

.pad-r--30 {
  padding-right: 30px;
}
/*== END padding right CSS ==*/

/*== START padding left CSS ==*/
.pad-l--5 {
  padding-left: 5px;
}

.pad-l--10 {
  padding-left: 10px;
}

.pad-l--15 {
  padding-left: 15px;
}

.pad-l--20 {
  padding-left: 20px;
}

.pad-l--25 {
  padding-left: 25px;
}

.pad-l--30 {
  padding-left: 30px;
}
/*== END padding left CSS ==*/

/*== START full margin CSS ==*/
.m--5 {
  margin: 5px;
}

.m--10 {
  margin: 10px;
}

.m--15 {
  margin: 15px;
}

.m--20 {
  margin: 20px;
}

.m--25 {
  margin: 25px;
}

.m--30 {
  margin: 30px;
}

/*== END full margin CSS ==*/

/*== START margin top CSS ==*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}
/*== END margin top CSS ==*/

/*== START margin bottom CSS ==*/
.mb--5 {
  margin-bottom: 5px;
}

.mb--10 {
  margin-bottom: 10px;
}

.mb--15 {
  margin-bottom: 15px;
}

.mb--20 {
  margin-bottom: 20px;
}

.mb--25 {
  margin-bottom: 25px;
}

.mb--30 {
  margin-bottom: 30px;
}
/*== END margin bottom CSS ==*/

/*== START margin right CSS ==*/
.mr--5 {
  margin-right: 5px;
}

.mr--10 {
  margin-right: 10px;
}

.mr--15 {
  margin-right: 15px;
}

.mr--20 {
  margin-right: 20px;
}

.mr--25 {
  margin-right: 25px;
}

.mr--30 {
  margin-right: 30px;
}
/*== END margin right CSS ==*/

/*== START margin left CSS ==*/
.ml--5 {
  margin-left: 5px;
}

.ml--10 {
  margin-left: 10px;
}

.ml--15 {
  margin-left: 15px;
}

.ml--20 {
  margin-left: 20px;
}

.ml--25 {
  margin-left: 25px;
}

.ml--30 {
  margin-left: 30px;
}
/*== END margin left CSS ==*/

/*== START width CSS ==*/
.w--100 {
  width: 100%;
}
.w--50 {
  width: 50%;
}
/*== END width CSS ==*/

/*== START height CSS ==*/
.h--100 {
  height: 100%;
}

.h--70-vh {
  height: 70vh;
}

.h--80-vh {
  height: 80vh;
}

.h--100-vh {
  height: 100vh;
}
/*== END height CSS ==*/

/*== START container CSS ==*/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/*== END container CSS ==*/

/*== START font css ==*/
* {
  font-family: var(--main-f-family);
}
/*== END font css ==*/
html {
  line-height: normal;
}

/*== Start main content global css == */
.content-section {
  --bg-image: url("../img/pic2.png");
  --bg-size: 100%;
  --bg-position: top;
  --pad-top: 120px;
  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  padding-top: var(--pad-top);
}

.content-section .content-wrapper .title p {
  color: var(--clr-primary);
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.content-section .content-wrapper .title h2 {
  color: var(--clr-secondary);
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: capitalize;
}

/*== End main content global css == */
