/*== START flexbox CSS ==*/
.--flex {
  display: flex;
}

.--flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.--flex-col {
  display: flex;
  flex-direction: column;
}

.--flex-v-center {
  display: flex;
  align-items: center;
}

.--flex-h-center {
  display: flex;
  justify-content: center;
}

.--flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.--justify-content-between {
  justify-content: space-between;
}

.--justify-content-around {
  justify-content: space-around;
}

.--justify-content-center {
  justify-content: center;
}

.--align-items-center {
  align-items: center;
}

/*== END flexbox CSS ==*/

/*== START flexbox layout CSS ==*/
.col-1-12 {
  flex-basis: calc(100% / 12);
}

.col-2-12 {
  flex-basis: calc((100% / 12) * 2);
}

.col-3-12 {
  flex-basis: calc((100% / 12) * 3);
}

.col-4-12 {
  flex-basis: calc((100% / 12) * 4);
}

.col-5-12 {
  flex-basis: calc((100% / 12) * 5);
}

.col-6-12 {
  flex-basis: calc((100% / 12) * 6);
}

.col-7-12 {
  flex-basis: calc((100% / 12) * 7);
}

.col-8-12 {
  flex-basis: calc((100% / 12) * 8);
}

.col-9-12 {
  flex-basis: calc((100% / 12) * 9);
}

.col-10-12 {
  flex-basis: calc((100% / 12) * 10);
}

.col-11-12 {
  flex-basis: calc((100% / 12) * 11);
}

.col-12-12 {
  flex-basis: calc((100% / 12) * 12);
}
/*== END flexbox layout CSS ==*/

/*== START position CSS ==*/
.pos--fixed {
  position: fixed;
}

.pos--abs {
  position: absolute;
}

.pos--relative {
  position: relative;
}

.pos--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*== END position CSS ==*/
