:root {
  --clr-primary: #f55f8d;
  --clr-secondary: #262626;
  --bg-gradient: linear-gradient(
    to right,
    var(--clr-primary) 0,
    #f8ae56 51%,
    var(--clr-primary) 100%
  );
  /* animation variables for animate css */
  --animate-duration: 2s;
  /* animation variables */
  --custom-animation-duration: 0.6s;
  --animate-upToDown: upToDown var(--custom-animation-duration);

  --animate-rightToLeft: rightToleft var(--custom-animation-duration);
  --animate-moveLeftToRight: moveLeftToRight 5s infinite;

  /* card item shadow variables */
  --bg-white-box-shadow: 0px 2px 60px -2px rgba(0, 0, 0, 0.1);
  /* fonts variables */
  --main-f-family: "Roboto", sans-serif;
  --second-f-family: Arial, Helvetica, sans-serif;
}

/*== Start animation keyframes variables ==*/
/* header animation keyframes for menu */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* banner animation keframes for section features */
@keyframes moveLeftToRight {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* footer animation keyframes for subscribe button */
@keyframes rightToleft {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*== End animation keyframes variables ==*/
