/* == Start header css == */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__menu .menu__item {
  padding: 50px 12px;
  cursor: pointer;
  text-transform: capitalize;
}

.header__menu a.menu__link {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

.header__menu .menu__link span {
  display: inline-block;
}

.header__menu .menu__link,
.header__menu .menu__link .icon-wrapper {
  display: flex;
  align-items: center;
}

.header__menu .menu__link span,
.header__menu .menu__link i {
  transition: 0.3s;
}

.header__menu a.menu__link i {
  font-size: 9px;
}

.header__menu .menu__link .txt {
  margin-right: 5px;
}

.header__menu .menu__item:hover .menu__link {
  color: var(--clr-primary);
}

.header__menu .menu__item:hover .menu__link .txt {
  animation: var(--animate-upToDown);
}

.header .btn--primary {
  padding: 20px 35px;
  border-radius: 40px;
  font-size: 15px;
}

.header nav {
  display: flex;
  align-items: center;
}
/* == End header css == */

/* == Start section saCarousel css == */
.saCarousel {
  background-image: url("../img/pic2.png");
  background-size: 100%;
  background-position: top;
  padding-top: 180px;
}
.saCarousel .content-wrapper {
  display: flex;
  align-items: center;
}

.saCarousel__content.--left {
  width: 60%;
}

.saCarousel__content.--right {
  width: 40%;
}

.saCarousel .banner {
  width: 570px;
  margin-left: 50px;
}

.saCarousel .desc .intro,
.saCarousel .desc .achievement__list {
  color: #636363;
  margin-bottom: 30px;
}

.saCarousel .desc .intro {
  font-size: 18px;
  line-height: 29px;
}

.saCarousel .desc .achievement {
  font-size: 20px;
  line-height: 32px;
}

.saCarousel .desc .achievement:not(:last-child) {
  margin-bottom: 20px;
}

.saCarousel .desc .achievement .icon {
  font-size: 24px;
  font-weight: 900;
}

.saCarousel .desc .achievement .icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-image: var(--bg-gradient);
  color: #fff;
}

.saCarousel .desc .btn--primary {
  padding: 20px 35px;
  border-radius: 40px;
}
/* == End section saCarousel css == */

/* == Start section service css == */
.services {
  --bg-image: url("../img/bg2.png");
  --bg-size: cover;
  --bg-position: top center;
  text-align: center;
}

.services .services__content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
}

.services .services__item {
  background-color: #fff;
  padding: 35px 50px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: var(--bg-white-box-shadow);
  -webkit-box-shadow: var(--bg-white-box-shadow);
  -moz-box-shadow: var(--bg-white-box-shadow);
  box-shadow: var(--bg-white-box-shadow);
}

.services .services__item:hover {
  transform: translateY(-20px);
}

.services .services__item img {
  width: 215px;
}
.services .services__item .heading {
  color: var(--clr-secondary);
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
}
.services .services__item .desc {
  color: #636363;
  line-height: 26px;
}
/* == End section service css == */

/* == Start section about us css == */
.about-us {
  --bg-image: url("../img/bg2.png");
  --bg-size: cover;
  --bg-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}

.about-us .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.about-us__content.--left {
  flex-basis: 60%;
  width: 60%;
  position: absolute;
  left: -17%;
}

.about-us__content.--left .banner img {
  border-radius: 0 100px 100px 0;
}

.about-us__content.--right {
  flex-basis: 50%;
}

.about-us .desc .intro,
.about-us .desc .achievement__list {
  color: #636363;
}

.about-us .desc .intro {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

.about-us .desc .achievement__list {
  margin-bottom: 30px;
}

.about-us .desc .achievement {
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.about-us .desc .achievement .icon {
  font-size: 24px;
  color: var(--clr-primary);
}

.about-us .desc .achievement .icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.about-us .desc .btn--primary {
  padding: 20px 35px;
  border-radius: 40px;
}
/* == End section about us css == */

/* == Start section number css == */
.number {
  --bg-image: url("../img/bg14.png");
  --bg-size: auto;
  --bg-position: center;
  --pad-top: 70px;
  text-align: center;
  padding-bottom: 60px;
}

.number__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number__item {
  flex-basis: calc(100% / 4);
}

.number__item .icon {
  --icon-size: 80px;
  display: inline-block;
  font-size: 45px;
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.number__item .counter-wrapper {
  font-size: 65px;
  color: var(--clr-primary);
  font-weight: 800;
  line-height: 65px;
}
.number__item .name {
  font-size: 18px;
  line-height: 29px;
  color: var(--clr-secondary);
  text-transform: capitalize;
}
/* == End section number css == */

/* == Start section features css == */
.features {
  --bg-image: url("../img/bg2.png");
  --bg-size: 100%;
  --bg-position: center;
  background-repeat: no-repeat;
}

.features__item {
  --animate-delay: 0.2s;
  padding: 0 50px 30px 0;
  transition: 0.5s;
  animation-delay: var(--animate-delay);
}

.features__item.--first {
  --animate-delay: 0.4s;
}

.features__item.--second {
  --animate-delay: 0.6s;
}

.features__item.--third {
  --animate-delay: 0.8s;
}

.features__item .content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #fff;
  box-shadow: var(--bg-white-box-shadow);
  -webkit-box-shadow: var(--bg-white-box-shadow);
  -moz-box-shadow: var(--bg-white-box-shadow);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.features__item .content-wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: var(--bg-gradient);
  background-size: 200%;
  transition: 0.5s;
  z-index: 0;
}

.features__item .icon {
  color: var(--clr-primary);
  font-size: 80px;
  transition: 1s;
  z-index: 1;
}

.features__item .desc {
  color: var(--clr-secondary);
  z-index: 1;
}

.features__item h3 {
  transition: 1s;
}

.features__item .desc p {
  color: #636363;
  transition: 1s;
}

.features__item .content-wrapper:hover::after {
  opacity: 1;
}

.features__item:hover .icon,
.features__item:hover h3,
.features__item:hover p {
  color: #fff;
}

.features__item:nth-child(2) {
  padding: 0 0 30px 50px;
}

.features__content .banner {
  margin-right: -80px;
}

.features__content .banner img {
  animation: var(--animate-moveLeftToRight);
}
/* == End section features css == */

/* == Start section portfolio css == */
.portfolio {
  --bg-image: url("../img/bg17.png");
  --bg-size: cover;
  --bg-position: top center;
  text-align: center;
}

.portfolio__content {
  display: grid;
  gap: 33px;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  position: relative;
}

.portfolio__item.--1,
.portfolio__item.--5 {
  grid-column: 1 / span 2;
}

.portfolio__item.--6 {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
}

.portfolio__item {
  --transition-duration: 0.7s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 42%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.22);
  transform: skew(-25deg);
  transition: var(--transition-duration);
}

.portfolio__item > img.portfolio__img {
  display: inline-block;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.portfolio__item .item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.42);
  transition: var(--transition-duration);
  opacity: 0;
  width: 100%;
  height: 100%;
}

.portfolio__item .item__overlay .btn-view {
  --pos-t: 20px;
  --pos-r: 20px;
  position: absolute;
  top: var(--pos-t);
  right: var(--pos-r);
  transition: var(--transition-duration);
  transform: translate(20px, -20px);
}

.portfolio__item .item__overlay .txt {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transition: var(--transition-duration);
  transform: translateY(100px);
}

.portfolio__item .item__overlay .txt .heading {
  font-size: 22px;
  line-height: 1.3;
  color: #fff;
  font-weight: 800;
}

.portfolio__item .item__overlay .txt .desc {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio__item:hover::before {
  left: 140%;
}

.portfolio__item:hover .item__overlay {
  opacity: 1;
}

.portfolio__item:hover .item__overlay .btn-view {
  transform: translate(0);
}

.portfolio__item:hover .item__overlay .txt {
  transform: translateY(0);
}
/* == End section portfolio css == */

/* == Start section plan css == */
.plan {
  text-align: center;
}

.plan__content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.plan .plan__item {
  padding: 35px 50px;
  box-shadow: var(--bg-white-box-shadow);
  -webkit-box-shadow: var(--bg-white-box-shadow);
  -moz-box-shadow: var(--bg-white-box-shadow);
  box-shadow: var(--bg-white-box-shadow);

  border: 3px solid transparent;
  border-image: 100 round;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: var(--clr-secondary);
  transition: 0.5s;
}

.plan__item:hover {
  border-image: url("../img/br.png") 1 round;
}

.plan__item .heading {
  font-size: 32px;
  line-height: 51px;
}

.plan .plan__item .thumb {
  width: 125px;
  margin: 0 auto;
}

.plan__item .price {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #e1e1f0;
}

.plan__item .price span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
  line-height: 80px;
}

.plan__item .feat__list {
  margin: 20px 0;
}

.plan__item .feat {
  text-align: left;
  display: flex;
  align-items: center;
}
.plan__item .feat .icon-wrapper {
  --icon-size: 25px;
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;

  border-radius: 50%;

  background-color: #feeff3;
  font-size: 12px;
  color: #f55f8d;

  margin-right: 15px;
}

.plan__item .feat .txt {
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize;
}

.plan__item .feat:not(:last-child) {
  margin-bottom: 10px;
}

.plan__item .btn-start {
  padding: 20px 35px;
  border-radius: 40px;
}
/* == End section plan css == */

/* == Start section testimonial css == */
.testimonial {
  --bg-image: url("../img/bg17.png");
  --bg-size: 100%;
  --bg-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 50px;
}

.testimonial__content .testimonial__thumbs {
  margin: 0 auto;
  width: 300px;
  height: 170px;
  transition: 0.5s;
  text-align: center;
}

.testimonial__thumbs::before,
.testimonial__thumbs::after {
  --bg-direction: to right;
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background: linear-gradient(
    var(--bg-direction),
    #fff 0,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonial__thumbs::before {
  left: 0;
}

.testimonial__thumbs::after {
  right: 0;
  --bg-direction: to left;
}

.testimonial__thumbs .testimonial__pic {
  padding-top: 30px;
  transition: 0.7s;
}

.testimonial__pic::before,
.testimonial__pic::after {
  --size: 15px;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--clr-primary);
  bottom: 30px;
  opacity: 0;
  transition: 0.5s;
}

.testimonial__thumbs .testimonial__pic .shape {
  position: relative;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
  width: 50px;
  height: 35px;
  background-color: var(--clr-primary);

  opacity: 0;
  transition: 0.5s;
}

.testimonial__thumbs .testimonial__pic .shape::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-image: url("../img/pattern12.png");
  background-size: contain;
  background-position: bottom;
  transition: 0.5s;
}

.testimonial__pic::after {
  --size: 10px;
  bottom: 0;
}

.testimonial__content .testimonial__pic img {
  --img-size: 80px;
  width: var(--img-size);
  height: var(--img-size);
  display: inline;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--clr-primary);
  position: relative;
  z-index: 2;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding-top: 0;
  padding-bottom: 40px;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic::before,
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic::after {
  opacity: 1;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic .shape {
  opacity: 1;
}

.testimonial__content .comment {
  text-align: center;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  max-width: 770px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial__content .comment i {
  font-size: 70px;
  color: var(--clr-primary);
  position: absolute;
  top: 10px;
  left: 30px;
  transform: rotate(180deg);
}
.testimonial__content .comment .name {
  font-size: 22px;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial__content .comment .position {
  color: var(--clr-primary);
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 30px;
}

.testimonial__content .comment .quote {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  color: #636363;
  padding: 0 15px 15px;
}

/* css for swiper js in testimonial*/
.swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--clr-primary);
}
.testimonial__comment.swiper {
  padding-bottom: 30px;
}

/* css for swiper js in testimonial */
/* == End section testimonial css == */

/* == Start section blog css == */
.blog {
  --bg-image: url("../img/bg16.png");
  --bg-size: cover;
  --bg-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__item {
  background-color: #feeff3;
  border-radius: 10px;
  overflow: hidden;
}

.blog__item .head {
  position: relative;
}

.blog__item .head img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.blog__item .head .date {
  padding: 10px 20px;

  position: absolute;
  bottom: -20px;
  left: 15px;

  border-radius: 6px;
}

.blog__item .body {
  padding: 33px 15px 20px 15px;
  margin-bottom: 20px;
  text-align: left;
}

.blog__item .body .heading {
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-secondary);
}

.blog__item .body .desc {
  color: #636363;
  line-height: 1.4;
}

.blog__item .footer {
  font-size: 14px;
  font-weight: 400;
  color: #636363;

  text-transform: uppercase;

  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.blog__item .footer .meta-data {
  display: flex;
  align-items: center;
  gap: 25px;
}

.blog__item .footer .meta-data .data-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog__item .footer .meta-data .data-wrapper i {
  color: var(--clr-primary);
  font-size: 22px;
}

.blog__item .footer .meta-data .author .name {
  color: var(--clr-primary);
}
/* == End section blog css == */

/* == End section footer css == */
footer {
  color: #fff;
  font-size: 15px;

  --bg-image: url("../img/bg4.png");
  --bg-size: contain;
  --bg-position: bottom;

  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  background-repeat: no-repeat;
  background-color: #0e1b1f;
  position: relative;
}

footer:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/pattern2.png") no-repeat top left;
  background-size: contain;
}

footer a {
  color: #fff;
}

.footer__subscribe {
  padding: 50px 60px;
  background-image: url("../img/pattern3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  display: flex;
}

.footer__subscribe .txt {
  color: var(--clr-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
}

.footer__subscribe form {
  display: flex;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__subscribe .email-wrapper {
  flex: 1 1 auto;
}

.footer__subscribe input {
  font-size: 15px;
  font-family: var(--second-f-family);
  color: #888;
  padding: 20px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.footer__subscribe input:focus,
.footer__subscribe input:hover {
  border: 1px solid var(--clr-primary);
}

.footer__subscribe .btn-sub {
  padding: 20px 35px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 0 0.5rem 0.5rem 0;
}

.footer__subscribe .btn-sub:hover i {
  animation: var(--animate-rightToLeft);
}

.footer__main-content {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  position: relative;
}

.footer__main-content .contact a.title {
  display: block;
}

.footer__main-content .contact__list li {
  padding: 0.6rem 0;
}

.footer__main-content .contact__list li {
  display: flex;
  align-items: center;
  line-height: 24px;
}

.footer__main-content .contact__list li i {
  --icon-size: 40px;
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;
  border-radius: 50%;
  background-image: var(--bg-gradient);

  margin-right: 10px;
}

.footer__main-content .contact__list li .txt {
  display: block;
}

.footer__main-content .link-data h3.title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.4px;
  padding-bottom: 12px;
  position: relative;
}

.footer__main-content .link-data h3.title::before,
.footer__main-content .link-data h3.title::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 4px;
  background-image: var(--bg-gradient);
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__main-content .link-data h3.title::after {
  width: 45px;
  left: 22px;
}

.footer__main-content .link-data .link__list {
  margin-top: 30px;
}

.footer__main-content .link-data .link__list li a {
  color: #636363;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  transition: 0.4s;
}

.footer__main-content .link-data .link__list li a i {
  margin-right: 10px;
  font-weight: 800;
}

.footer__main-content .link-data .link__list li a:hover {
  color: #fff;
}

.footer__main-content .link-data .link__list li:not(:last-child) {
  margin-bottom: 22px;
}

.footer__copyright {
  padding: 10px 0;
  background-color: #1f343b;
}

.footer__copyright .content-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__copyright .author__name {
  color: var(--clr-primary);
}

.footer__copyright a {
  --icon-size: 30px;
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  line-height: var(--icon-size);
  text-align: center;
  border-radius: 50%;
  font-size: 14px;

  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}

.footer__copyright .content.--right {
  position: relative;
}

.footer__copyright .content.--right a:hover {
  background-color: var(--clr-primary);
}

.footer__copyright .content.--right {
}
/* == End section footer css == */

/* == Start backtoTop css == */
.cd-top {
  --size: 50px;
  --pos-b: 20px;
  --pos-r: 20px;
  position: fixed;
  bottom: var(--pos-b);
  right: var(--pos-r);
  display: inline-block;
  height: var(--size);
  width: var(--size);
  visibility: hidden;
  opacity: 0;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  transition: 0.5s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.btn-to-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 15px;
  right: 15px;
  background-color: var(--clr-primary);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}
/* == End backtoTop css == */
